*.iml
.toolchains/
.build-cache/
tools/verification/captures/
app/src/main/go/toolchain.properties
app/src/main/go/build/
app/src/main/go/*.aar
app/src/main/go/*.jar
.gradle
.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.build-cache
